{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New Page
{% endblock %}

{% block body %}
<h1>Create a new page</h1><br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <label for="form_title">Title:</label>
    <div class="form-control">{{ form.title }}</div>
    <label for="form_body">Body contents:</label>
    <div class="container-fluid">{{ form.body }}</div>

    <button class="col-md-auto offset-md-9 me-auto" type="sumbit" name="new_page_confirmation">Create Page</button>
</form>
{% endblock %}